<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & drop | Cards</title>

    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <article id="app">
        <h1>VueJS: Drag & drop cards</h1>
        <div class="container">
            <Container v-for="list in lists" :list="list.items">
                <Draggable v-for="(item,idx) in list.items" class="item" :key="item.id" :index="idx" :item="item">@{item.text}</Draggable>
            </Container>
        </div>

        <hr>
        <div class="container">
            <div v-for="list in lists" class="info">list: @{list.id}, items: @{list.items.map(i=> i.id)}</div>
        </div>
    </article>
</body>

<script src="./vue.js"></script>
<script src="./_utils.js"></script>
<script src="./_manager.js"></script>
<script src="./_container.js"></script>
<script src="./_element.js"></script>
<script src="./_components.js"></script>
<script src="index.js"></script>

</html>