<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue | Dragondrop</title>

    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/style.css">

</head>
<body>
    <article id="app">
        <h1>VueJS Dragondrop</h1>
        <div class="container">
            <vdd-container v-for="list in lists" :list="list.items">
                <vdd-element
                    v-for="(item,idx) in list.items" :key="item.id" class="item"
                    :index="idx" :item="item" :style="item.style"
                >@{item.text}</vdd-element>
            </vdd-container>
        </div>

        <!-- <div class="board info">
            <div>dragging: @{manager.dragging ? manager.dragging.item.id : 'null'}</div>
            <div>hovered: @{manager.hovered ? manager.hovered.item.id : 'null'}</div>
        </div> -->
    </article>

</body>
</html>